
body {
  background-color: black;
  margin: 0;
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  opacity: 0.9;
}

/* HEADER ---------------------------*/
header {
  position: fixed;
  display: flex;
  width: 100%;
  height: 69px;
  border-bottom: 1px solid seashell;
  z-index: 20;
  background-color: black;
}

#tclogo {
    display: flex;
  align-items: center;
  margin-left: 10px;
  flex-grow: 1;
}

#tclogo img {
  height: 50px;
}

nav {
  display: flex;
  justify-content: flex-end;
}

nav span {  
  padding: 15px;
}

a {
  color: seashell;
  text-decoration: underline;
}

/* MAIN SECTION ------------------------------*/


.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  
}

.large-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.large-image2 {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  }

.content {

}

  
.box-locations {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

  width: 1000px;
}

h2, h4 {
  background-color: black;
  z-index: 10;
  width: inherit;
  display: block;
  margin: 0;
  padding: 10px;
}

.title h2 {
  background-color: transparent;
}

.title-bar2 {
  margin-top: 40px;
}

footer {
  text-align: center;
}

#mission-bg {
  background-image: url("./images/img-mission-background.jpg");
  height: 700px;
  width: 1200px;
  }

#locations {
  background-image: url("./images/img-locations-background.jpg");
  height: 500px;
  width: 1200px;
  
  background-size: auto;
  padding-top: 70px;
  }

  .box {
    margin: 10px;
    background-color: black;
    width: 300px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

.box p {
  padding: 5px;
}

.item {
    margin-bottom: 10px;
    padding: 10px;
  }

.item img {
    height: 200px;
    width: 300px;
      }

.tea-images {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 1000px;
}

.item span {
text-align: center;
display: block;
font-weight: bold;
padding: 10px 5px 0px 5px;
}


.copyright {
  width: 100%;
  text-align: left;
  padding-left: 20px;
}
